pandas has two main objects: DataFrame and Series.

In [1]:
import pandas as pd

### DataFrame ###

In [3]:
fruit_sales = pd.DataFrame({"Apples":[35,41],
                           "Bananas":[21,34]},
                index = ['2017 Sales','2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [8]:
fruit_sales = pd.DataFrame({"Apples":[35,41],
                           "Bananas":[21,34]})
fruit_sales   ###ie. by default the index collum would be the 0th collumn

   Apples  Bananas
0      35       21
1      41       34

### Series ###

In [6]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'],
                        index = ['Flour','Milk','Eggs','Spam'],
                        name='Dinner')
ingredients   ### ie. Series does NOT have collumn names but has a single NAME in general

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

### Reading and Saving as CSV(Comma Seperated Values) Files ###

In [8]:
"""
to show...

reviews = pd.read_csv("source address",index_col = 0)
"""
"""to save as csv file...
"""
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals.to_csv('cows_and_goats.csv')