In [1]:
import pandas as pd

In [11]:
animals = pd.read_csv("E:\VSCode\Python\cows_and_goats.csv")
animals

  Unnamed: 0  Cows  Goats
0     Year 1    12     22
1     Year 2    20     19

RENAMING A COLUMN

In [12]:
"""
Renaming column 0...
"""

animals.rename( columns={'Unnamed: 0' : 'Year'}, inplace = True )
animals

     Year  Cows  Goats
0  Year 1    12     22
1  Year 2    20     19

In [9]:
ani = pd.DataFrame( {'Year': ['Year 1','Year 2'],
                    'Dogs':[10,23],
                    'Sheeps':[22,10]} )
ani

     Year  Dogs  Sheeps
0  Year 1    10      22
1  Year 2    23      10

### INNER JOIN

In [23]:
"""
as the column Year is common in both the DataFrames, So we set "on = 'Year'"
"""
animals.merge(ani,on ='Year',suffixes=('_animals','ani'))

     Year  Cows  Goats  Dogs  Sheeps
0  Year 1    12     22    10      22
1  Year 2    20     19    23      10

RELATIONSHIPS

ONE TO ONE  :  each  row of one DataFrame is related to only one row of another DataFrame.

ONE TO MANY  :  each row of one DataFrame is related to oen or many row of another DataFrame

In [ ]:
"""
.isnull().sum()
semijoin : return observations from left table. only those which match with the right table
1 merge two tables innerjoin (left table=genres and right table=top_tracks, common column ='gid'))
2 top = genres['gid'].isin(genres_tracks['gid'])
3 top.head()

anti join : return  observations from only the left table that do not match with the right table
1. merge ( inner) with indicator arg = True...(left table=genres and right table=top_tracks)
### indicator =True will add a column called _merge that will show if the row is present in both the tables or just on the right or left
2. gid_list=genre_tracks.loc[genre_tracks['merge'] == 'left_only' , 'gid']

"""

"""
.concat
pd.concat( [name of the tables ], ignore_index= False, keys=['jan','feb','mar'])   ###axis value is set to 0 to concat vertically   ###ignore_index=True will drop the index info. from the tables   ###key values will bet set on top of each tables after concatanation. 
####### simlutaneously ignore_index has to be False while providing the keys. SInce u cant include index and key values at the same time.

pd.concat(  [list of table names], sort = True )
.join = 'inner'  if we want only the matching columns to get included 
"""
concat will add diff tables withput thinking about the column names.

.append()

df1.append([df2,df3...])
###unlike .concat()

correlation matrix: df.corr()

pd.merge_asof(visa,ibm,on='date_time',suffixe=(),direction='forward')

df.query('nike>90 and disney<110')

df.melt( id_vars = ['financial','company],value_vars=['2018','2019'],var_name=['jkhkjh'],value_name = 'kjhjh')
###columns of the first set of sqr bracket will not change.

ur_tall['date'] = pd.to_datetime(ur_tall['month'] + '-' + ur_tall['year'])

reveiws.loc[reviews.price.notnull()]
reveiws.loc[ reviews.price.isnull()]

.describe() basic info about the whole df or a column
reveiws.taster_name.unique()   to see a list of unique values in column taster_name
reviews.taster_name.value_counts()   to see how many time one taster's name occurs

### MAP FUNCTION

In [10]:
def even_or_odd(num) :
    if num % 2 == 0 :
        return "{} is Even".format(num)
    else :
        return "{} is Odd".format (num)

In [11]:
even_or_odd(24)

'24 is Even'

now for a list of number  we gotta define another function which loop over all the list elements...

In [13]:
def even_odd(list):
    return [ even_or_odd(element) for element in list ]

In [15]:
num_list = [1,2,3,4,66,7,45,53,5]
even_odd(list)

['1 is Odd',
 '2 is Even',
 '3 is Odd',
 '4 is Even',
 '66 is Even',
 '7 is Odd',
 '45 is Odd',
 '53 is Odd',
 '5 is Odd']

This looping or repetative iterations can be bypassed by map functioon which will reduce the time consumption.

In [18]:
map(even_or_odd,num_list)

this is showing that a map object is created in a partiuclar location <0x1acec412a10>

In [22]:
list(map(even_or_odd,num_list))

TypeError: 'map' object is not callable

 train['sex_num'] = train.Sex.map({'female' : 0 , 'male' : 1}) 
 ###basically change the word 'female' to 0 and the word 'male' to 1...so from a column of two words 'female' and 'male' we are getting a column of series of 0 and 1....ie. mapping from one column to another column.

 train['Name_length'] = train.Name.apply(len)
 ###basically applying the function len on each values of the column Name and producing another column.

 similarly to see the  maximum number in every column
 drinks.loc[ :, 'beer_serving' : 'wine_serving' ].apply(max, axis=0)
 ###it will return the maximum value of the columns from 'beer_serving' upto 'wine_serving'.
 ######nwo if we set the axis = 1 we will get the max value of each rows.

 .apply(np.argmax, axis =1 )
 ####shows which column consists the maximum value.

 .applymap()
 drinks.loc[ :, 'beer_serving' : 'wine_serving' ] =  drinks.loc[ :, 'beer_serving' : 'wine_serving' ].applymap(float)

 ###this will make every  element of the columns beer serving and b=wine servig float element.

### Lambda Function ( anonymous function)

### if there is a single line of code inside the definition section then and then only Lambda function would work otherwise it will fail. ie. if there are multiple operations going inside the definition section, it will not work.

normal function

In [2]:
def even(num):
    if num%2 == 0:
        return True

In [3]:
even(24)

True

Lambda alternative

In [4]:
even1 = lambda a: a%2 == 0

In [5]:
even1(12)

True

normal function

In [8]:
def addition(a,b,c):
    return a+b+c

In [9]:
addition(3,5,4)

12

lambda alternatives

In [6]:
addition3 = lambda a,b,c : a+b+c

In [7]:
addition3(3,5,4)

12

reviews.groupby('twitter_handler').twitter_handler.count()
or, 
reviews.groupby('twitter_handler').twitter_handler.size()